/* Evita importar la fuente en este ejemplo ya que ya se ha importado */

.container {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.servicio_imagen {
    width: 50%;
}

.servicio_Info {
    width: 50%; /* Ajusta según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.servicio_info_detalle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sinmedi {
        width: 100%; /* O ajusta según tus necesidades */
    }

    .servicio_Info {
        width: 100%;
        margin-top: 20px; /* Ejemplo de ajuste de margen */
    }
}

@media (max-width: 600px) {
    .servicio_imagen,
    .servicio_Info {
        width: 100%; /* Ajusta según tus necesidades */
    }

    .servicio_info_detalle {
        margin-top: 10px; /* Ejemplo de ajuste de margen */
    }

    .serviceuno h1,
    .servicedos h1,
    .servicetres h1 {
        font-size: 1.2rem; /* Reducción del tamaño de fuente para dispositivos más pequeños */
    }
}
