@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Roboto+Slab:wght@100..900&display=swap');



.homeDev{
    display: flex;
    flex-direction: row;
    
    
}
.homeparraf{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.homeimg{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}
.redes{
    display:flex;
    width: 50%;
    justify-content: flex-start;
    margin-top: 35px;
    
}

.cv{
    display:flex;
    width: 50%;
    justify-content: flex-start;
    
}
.parrafohome{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    
}

.buttonhome{
    margin-left: 150px;
}

.imgredes{
    margin-right: 35px;
}
.buttonhome{
    margin-right: 35px;
    
}
.hometext{
    font-family: "Roboto Slab", serif;
}

@media (max-width: 1100px) {
    .homeDev {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }
    .homeimg {
        width: 100%; 
        margin-right: 0; 
        justify-content: center; 
        align-items: center; 
       
    }
    .imgava{
        width:30%;
    }
    .homeparraf{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;

    } 
   
    .redes{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .cv{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .parrafohome{
        display: flex;
        align-items: center;
        width: 100%;
        
    }
}

@media (max-width:11350px) {
    .imgava{
        width: 80%;
    }
    
}

























@import url(https://fonts.googleapis.com/css?family=Exo:100);

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse .92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse .92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse .92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse .92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}