.imgskill{
    font-size: 3rem; /* Ajusta el tamaño del icono */
  color: #35FFA8;
}
.tituloSkill{
    color: #35FFA8;
    display: flex;
}
.card{
    background: white;
}

.card:hover h5,
.card:hover p,
.card:hover {
    background: #1fc9d0;
    color: white;
}


.card,i,h5,p{
    color: black;
}
