.titulowork{
    color: #35FFA8 !important;
    font-family:  "Roboto Slab", serif;
    display: flex;
  } 
  .mb-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }