.boxcont{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.tutorial{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width: 100%;
}